.grid {
  &__container {
    height: auto;
    width: auto;

    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(auto, 100px);

    justify-content: center;

    margin-top: 3rem;
    list-style: none;
  }

  &__item {
    text-align: center;
    border: 1px solid black;
  }
}

.search-input {
  width: 30vw;
  display: inline-block;
  justify-self: center;
}